.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d3d3d3;
    padding: 50px;
    border-radius: 20px;
    width: 500px;
    margin: auto;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .profile-picture {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .profile-picture button {
    background-color: #5c4ab4;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  form input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #5c4ab4;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  p {
    margin-top: 10px;
    font-size: 0.9rem;
  }
  